.timer{
    font-family: 'Bricolage Grotesque', sans-serif;
    font-weight: 600;
    font-size: xx-large;
    display: block;
    align-items: center;
    margin-top: 5vh;
    text-align: center;
    
    align-content: center;
}
#clock{
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    font-size: 50px;
    display: flexbox;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 10%;
   
}
#img{
    align-items: center;
    text-align: center;
    display:  block;
    width: 50%;
    margin-left: 134px;
}